<div class="search-open" style="display: none">
  <div class="input-append">
    <form action="<%= search_pages_path %>">
      <input name="query" type="text" class="span3" placeholder="Искать" />
      <button type="submit" class="btn-u">Найти</button>
    </form>
  </div>
</div>