  <li class="span4">
    <div class="thumbnail-style thumbnail-kenburn">
      <div class="law_practice_title">
        <h3>
          <a class="hover-effect" href="#">
            <%= link_to jurisprudence.name, jurisprudence_path(jurisprudence) %>
          </a>
        </h3>
      </div>
      <div class="law_practice_description">
        <%= raw_short_content_for jurisprudence %>
      </div>
    </div>
  </li>

