<div class="container">
  <div class="headline">
    <h3>Наша судебная практика</h3>
    <%= link_to 'Вся судебная практика', jurisprudences_path %>
  </div>
  <ul class="thumbnails">
    <%= render 'jurisprudences/list_item' %>
  </ul>
</div>
