<div class="<%= model %>_search_results">
  <div>
    <%= link_to search_object_path(model, object) do %>
      <i><%= raw excerpt(result, object.name) %></i>
    <% end %>
  </div>
  <% unless model == :doc %>
    <div>
      <%= raw excerpt(result, object.content) %>
    </div>
  <% end %>
</div>