<li class="third_block_li">
  <%= link_to partner.url, :class => 'third_block_parntners_link' do %>
    <%= image_tag partner.logo.thumb.url, :class => 'third_block_rounded_slider_logo' %>
  <% end %>
</li>
