<div class="container">
<div class="headline"><h3>Наша судебная практика</h3></div>
<ul class="thumbnails">
    <li class="span4">
        <div class="thumbnail-style thumbnail-kenburn">
            <div class="law_practice_title">
                <h3>
                    <a class="hover-effect" href="#">
                    Признание прав собственности на земельный участок
                    </a>
                </h3>
            </div>
            <div class="law_practice_description">
                <p>Признать за истцом в порядке приватизации право  собственности на земельный участок №00 в СНТ «Ромашка» вблизи д. Ромашка &nbsp<a class="hover-effect" href="#">...</a></p>
            </div>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail-style thumbnail-kenburn">
            <h3>
                <div class="law_practice_title">
                    <a class="hover-effect" href="#">
                        Признание права собственности на гараж
                    </a>
                </div>
            </h3>
            <div class="law_practice_description">
                <p>Рассмотрев в заседании от 26 февраля 2004 года кассационную жалобу Ф. на решение Ивантеевского городского суда Московской области &nbsp;<a class="hover-effect" href="#">...</a></p>
            </div>
            </div>

    </li>
    <li class="span4">
        <div class="thumbnail-style thumbnail-kenburn">
            <h3>
                <div class="law_practice_title">
                    <a class="hover-effect" href="#">
                        Банк несет ответственность за перечисление средств по поддельным платежным поручениям
                    </a>
                </div>
            </h3>
            <div class="law_practice_description">
                <p>Признать за истцом в порядке приватизации право  собственности на земельный участок №00 в СНТ «Ромашка» вблизи д. Ромашка&nbsp;<a class="hover-effect" href="#">...</a></p>
            </div>
        </div>

    </li>
</ul>
</div>
<!--/thumbnails-->
<!-- //End Recent Works -->

<!--=== Content Part ===-->
<div class="container">
	<!-- Service Blocks -->
	<div class="row-fluid">
    	<div class="span4">
            <a class="service_link" href="#">
                <div class="service clearfix">
                    <div class="service_icon"><img src="assets/img/design/service_price.png"></div>
                    <div class="desc">
                        <div class="desc_header">
                            <h4>Стоимость<br/>услуг</h4>
                        </div>
                        <p>Описание стоимости услуг опис ание стоимости услуг
                            описание стоимостание стослуг  описание стоимослуг
                            ание стоимости услуг опис ание стоимости услуг описание
                            стоимостание стослуг
                        </p>
                    </div>
                </div>
            </a>
    	</div>
    	<div class="span4">
    		<a class="service_link" href="#">
                <div class="service clearfix">
                    <div class="service_icon"><img class="service_icon_call" src="assets/img/design/service_call.png"></div>
                    <div class="desc">
                        <div class="desc_header">
                            <h4>Заказ<br />услуг</h4>
                        </div>
                        <p>Описание стоимости услуг опис ание стоимости услуг
                            описание стоимостание стослуг  описание стоимослуг
                            ание стоимости услуг опис ание стоимости услуг описание
                            стоимостание стослуг.
                        </p>
                    </div>
                </div>
            </a>
    	</div>
    	<div class="span4">
            <a class="service_link" href="#">
                <div class="service clearfix">
                    <div class="service_icon"><img src="assets/img/design/service_docs.png"></div>
                    <div class="desc">
                        <div class="desc_header">
                            <h4>Образцы документов,<br />
                                заявлений</h4>
                        </div>
                        <p>Описание стоимости услуг опис ание стоимости услуг
                            описание стоимостание стослуг  описание стоимослуг
                            ание стоимости услуг опис ание стоимости услуг описание
                            стоимостание стослуг.
                        </p>
                    </div>
                </div>
            </a>
    	</div>
	</div><!--/row-fluid-->
	<!-- //End Service Blokcs -->


	<!-- Information Blokcs -->
	<div class="row-fluid margin-bottom-20">
    	<!-- Who We Are -->
		<div class="span8 feedback_container">
			<div class="headline"><h3>Отзывы</h3></div>
            <div class="feedback"><a class="hover-effect" href="#">оставись отзыв <img src="assets/img/design/feedback_bubble.png"></a></div>
            <blockquote class="hero-unify">
                <p>Советую адвоката - очень толковый. Не буду утверждать что цены низкие или высокие,
                    я не часто пользуюсь подобными услугами, для среднего человека, цены на услуги
                    хорошего адвоката в Киеве доступны. Обращались по рекомендации - очень довольны</p>
                <small>- Директор ООО ”Мир”, Колесов А.Л.</small>
            </blockquote>
            <blockquote class="hero-unify">
                <p>Действительно очень хороший адвокат в Киеве. Практически все мои друзья,
                    у которых возникали юридические вопросы, обращались к юристу по моей
                    рекомендации. Все стали постоянными клиентами адвоката. По квартирным
                    вопросам и наследству, семейным делам и спорам - ему нет равных. О
                </p>
                    <small>- ИП Демидов Ю.К.</small>
            </blockquote>
            <blockquote class="hero-unify">
                <p>Юридические консультации юриста на уровне! Адвокат отличный!</p>
                <small>- Гость</small>
            </blockquote>

        </div><!--/span8-->

        <!-- Latest Shots -->
        <div class="span4">
        </div><!--/span4-->
	</div><!--/row-fluid-->
	<!-- //End Information Blokcs -->
    <!-- Our Clients -->
    <div id="clients-flexslider" class="flexslider home clients">
        <div class="headline"><h3>Партнёры</h3></div>
        <ul class="slides">
            <li>
                <a href="#">
                    <img src="assets/img/clients/hp_grey.png" alt="" />
                    <img src="assets/img/clients/hp.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/igneus_grey.png" alt="" />
                    <img src="assets/img/clients/igneus.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/vadafone_grey.png" alt="" />
                    <img src="assets/img/clients/vadafone.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/walmart_grey.png" alt="" />
                    <img src="assets/img/clients/walmart.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/shell_grey.png" alt="" />
                    <img src="assets/img/clients/shell.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/natural_grey.png" alt="" />
                    <img src="assets/img/clients/natural.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/aztec_grey.png" alt="" />
                    <img src="assets/img/clients/aztec.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/gamescast_grey.png" alt="" />
                    <img src="assets/img/clients/gamescast.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/cisco_grey.png" alt="" />
                    <img src="assets/img/clients/cisco.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/everyday_grey.png" alt="" />
                    <img src="assets/img/clients/everyday.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/cocacola_grey.png" alt="" />
                    <img src="assets/img/clients/cocacola.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/spinworkx_grey.png" alt="" />
                    <img src="assets/img/clients/spinworkx.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/shell_grey.png" alt="" />
                    <img src="assets/img/clients/shell.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/natural_grey.png" alt="" />
                    <img src="assets/img/clients/natural.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/gamescast_grey.png" alt="" />
                    <img src="assets/img/clients/gamescast.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/everyday_grey.png" alt="" />
                    <img src="assets/img/clients/everyday.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/clients/spinworkx_grey.png" alt="" />
                    <img src="assets/img/clients/spinworkx.png" class="color-img" alt="" />
                </a>
            </li>
        </ul>
    </div><!--/flexslider-->
    <!-- //End Our Clients -->
</div>
