<div class="header">
  <div class="container navigation">
    <%= render 'shared/menu' %>
    <div class="instant_help_wrapper">
      <%= render 'shared/header/instant_help' %>
      <%= render 'shared/header/search' %>
    </div>
    <div class="search_button"><a class="search sbutton_link"><i class="icon-search search-btn"></i></a></div>
  </div>
</div>
