<!--<div class="header">
  <div class="container navigation">
    <!--%= render 'shared/menu' %>
    <div class="instant_help">
      <p>
        получите
        <br />квалифицированную
        <br />юридическую помощь
        <br />прямо сейчас
      </p>
      <div class="instant_help_phone">
        +7 (4012) 22-33-44
      </div>
      <a class="instant_help_skype_link" href="#">
        <div class="instant_help_skype">
          skype: yuraspect
        </div>
      </a>
    </div>
  </div>
</div>-->


<div class="header">
  <div class="container navigation">
    <!-- Menu -->
    <div class="navbar">
      <div class="navbar-inner">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a><!-- /nav-collapse -->
        <div class="nav-collapse collapse">
          <ul class="nav top-2">
            <li class="active">
              <a href="#" class="">
                Главная
              </a>
            </li>
            <li class="">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Наши услуги
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="active"><a href="index.html">Option1: Landing Page</a></li>
                <li><a href="page_home.html">Option2: Header Option</a></li>
                <li><a href="page_home4.html">Option3: Revolution Slider</a></li>
                <li><a href="page_home5.html">Option4: Amazing Content</a></li>
                <li><a href="page_home1.html">Option5: Mixed Content</a></li>
                <li><a href="page_home2.html">Option6: Content with Sidebar</a></li>
                <li><a href="page_home3.html">Option7: Aplle Style Slider</a></li>
                <li><a href="page_home_all.html">Home All In One</a></li>
              </ul>
              <b class="caret-out"></b>
            </li>
            <li>
              <a href="#" class="">
                Заказ услуг
              </a>
            </li>
            <li>
              <a href="#" class="">
                В помощь клиенту
              </a>
            </li>
            <li>
              <a href="#" class="">
                Оставить отзыв
              </a>
            </li>
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Контакты
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="blog.html">Blog</a></li>
                <li><a href="blog_item.html">Blog Item</a></li>
                <li><a href="blog_left_sidebar.html">Blog Left Sidebar</a></li>
                <li><a href="blog_item_left_sidebar.html">Blog Item Left Sidebar</a></li>
              </ul>
              <b class="caret-out"></b>
            </li>
            <li class="search_icon">

              <a class="search"><i class="icon-search search-btn"></i></a></li>
          </ul>
          <div class="search-open">
            <div class="input-append">
              <form>
                <input type="text" class="span3" placeholder="Искать" />
                <button type="submit" class="btn-u">Найти</button>
              </form>
            </div>
          </div>
        </div><!-- /nav-collapse -->
      </div><!-- /navbar-inner -->
    </div><!-- /navbar -->
    <div class="instant_help">
      <p>
        получите
        <br />квалифицированную
        <br />юридическую помощь
        <br />прямо сейчас
      </p>
      <div class="instant_help_phone">
        +7 (4012) 22-33-44
      </div>
      <a class="instant_help_skype_link" href="#">
        <div class="instant_help_skype">
          skype: yuraspect
        </div>
      </a>
    </div>

  </div><!-- /container -->
</div><!--/header -->
