<div class="header">
  <div class="container navigation">
    <%= render 'shared/menu' %>
    <div class="instant_help">
      <p>
        получите
        <br />квалифицированную
        <br />юридическую помощь
        <br />прямо сейчас
      </p>
      <div class="instant_help_phone">
        +7 (4012) 22-33-44
      </div>
      <a class="instant_help_skype_link" href="#">
        <div class="instant_help_skype">
          skype: yuraspect
        </div>
      </a>
    </div>
  </div>
</div>
