<div class="header">
  <div class="container navigation">
    <%= render 'shared/menu' %>
    <div class="instant_help_wrapper">
      <%= render 'shared/header/instant_help' %>
      <div class="search-open" style="display: none">
        <div class="input-append">
          <form>
            <input type="text" class="span3" placeholder="Искать" />
            <button type="submit" class="btn-u">Найти</button>
          </form>
        </div>
      </div>
    </div>
    <div class="search_button"><a class="search sbutton_link"><i class="icon-search search-btn"></i></a></div>
  </div>
</div>
