<div class="navbar">
  <div class="navbar-inner">
    <div class="nav-collapse collapse">
      <ul class="nav top-2">
        <% Page.roots.visible.each do |page| %>
          <%= render 'shared/menu/item', page: page %>
        <% end %>

        <li class="search_icon"><a class="search"><i class="icon-search search-btn"></i></a></li>
      </ul>
      <%= render 'shared/menu/search' %>
    </div>
  </div>
</div>
