<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
          <a href="#" class="home_link">
            <div class="logo_img">
              <%= image_tag("design/slider_logo.png", alt: "") %>
            </div>
          </a>
            <a href="#" class="da-slider_content_link">
                <div class="slider_paragraph_first">
                  <h2><i>КАЛЬКУЛЯТОР</i></h2>
                </div>
                <div class="slider_paragraph_second">
                  <h2><i>ГОСПОШЛИН</i></h2>
                </div>
                <div class="slider_paragraph_third">
                  <h2><i>И МНОГОЕ ДРУГОЕ!!!</i></h2>
                </div>
            </a>

        </div>
        <div class="da-slide">
          <a href="#" class="da-slider_content_link">
            <div class="slider_paragraph_first">
              <h2><i>КАЛЬКУЛЯТОР</i></h2>
            </div>
            <div class="slider_paragraph_second">
              <h2><i>ГОСПОШЛИН</i></h2>
            </div>
            <div class="slider_paragraph_third">
              <h2><i>И МНОГОЕ ДРУГОЕ!!!</i></h2>
            </div>
          </a>
        </div>
        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </nav>
    </div>
</div>
