<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <a href="#" class="da-lider_content_link">
                <h2><i>КАЛЬКУЛЯТОР</i> <br /> <i>ГОСПОШЛИН</i></h2>
                <p><i>Расчитывайте все</i> <br /> <i>виды услуг</i></p>
            </a>
            <a href="#" class="home_link">
                <div class="da-img"><%= image_tag("/design/slider_logo.png", alt: "") %></div>
            </a>
        </div>
        <div class="da-slide">
            <a href="#" class="da-slider_content_link">
                <h2><i>КАЛЬКУЛЯТОР</i> <br /> <i>ГОСПОШЛИН</i></h2>
                <p><i>Расчитывайте все</i> <br /> <i>виды услуг</i></p>
            </a>
            <a href="#" class="home_link">
                <div class="da-img"><%= image_tag("/design/slider_logo.png", alt: "") %></div>
            </a>
        </div>
        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </nav>
    </div>
</div>
