<div class="search-open">
  <div class="input-append">
    <form>
      <input type="text" class="span3" placeholder="Искать" />
      <button type="submit" class="btn-u">Найти</button>
    </form>
  </div>
</div>