<div class="third_block">
  <div class="third_block_inner">
    <h3 class="third_block_h3">Наши партнеры</h3>
    <div class="third_block_carousel liquid"  id="liquid1">
      <span class="third_block_button third_block_button_prev previous">&nbsp;</span>
      <div class="wrapper">
        <ul class="third_block_ul" >
          <%= render Partner.scoped %>
        </ul>
      </div>
      <span class="third_block_button third_block_button_next next">&nbsp;</span>
    </div>
  </div>
</div>