<div class="search_results">
  <% @search.each do |model, result| %>
    <% next if result[:objects].empty? %>
    <h3><%= search_title_for model %></h3>
    <% result[:objects].each do |object| %>
      <div class="<%= model %>_search_results">
        <div><i><%= object.name %></i></div>
        <% unless model == :doc %>
          <div><%= object.content %></div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
