<div class="search_results">
  <% @search.each do |model, result| %>
    <% next if result[:objects].empty? %>
    <h3><%= search_title_for model %></h3>
    <% result[:objects].each do |object| %>
      <%= render 'pages/search/object', model: model, result: result, object: object %>
    <% end %>
  <% end %>
</div>
