<div class="copyright">
	<div class="container">
		<div class="row-fluid">
			<div class="span8">
	      <p>2013 &copy; ООО "ЮрАспект".</p>
			</div>
			<div class="span4">
			</div>
		</div>
	</div>
</div>