<div class="da-slide">
  <div class="slider_paragraph_first">
    <span class="paragraph_white">
      <%= raw banner.paragraph(0) %>
    </span>
  </div>

  <div class="slider_paragraph_second">
    <span class="paragraph_white">
      <%= raw banner.paragraph(1) %>
    </span>
  </div>

  <div class="slider_paragraph_third">
    <span class="paragraph_white">
      <%= raw banner.paragraph(2) %>
    </span>
  </div>
  <%= link_to 'подробнее', banner.url, :class => 'da-link' %>
</div>  
