<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>  
  	<p>Фамилия   <%= @last_name %></p>
    <p>Имя   <%= @first_name %></p>
    <p>Email   <%= @email %></p>
    <p>
    	<%= @content %> 
    </p>
  </body>
</html>
