
.container {
    /*background-color: rgba(255, 0, 0, 0.41);*/
}

.header {
    margin-top: 50px;
}

.collapse.in li a:hover,
.collapse.in li a.dropdown-toggle {
    border-bottom:solid 1px #d8774d !important;
    background:none;
}

.dropdown-menu {
    padding:0;
    border:none;
    margin-top:-2px;
    min-width:200px;
    border-radius:0;
    border-top:solid 2px #d8774d;
    border-bottom:solid 2px #687074;
    z-index: 9999 !important;
}
.navbar .btn-navbar {
    float: left;
}

/*Search + instant help*/
.search_button {
  float: left;
  margin-top: 9px;
  margin-left: 20px;

}

.search.sbutton_link {
  color: #aaa;
  transition: all 0.4s ease-in-out;
  font-size: 15px;
  cursor:pointer;
  background:#f7f7f7;
  padding:12px 12px 14px;
  border-bottom: solid 2px #eee;
  border-bottom-color:#aaa;
  line-height: 1.6em;
}
.search.sbutton_link:hover {
  text-decoration: none;
  color:#d8774d ;
  border-bottom-color: #d8774d;
}
.instant_help_wrapper {
  position: relative;
  float: left;
  width: 175px;
  height: 1px;
  background-color: rgba(255, 0, 0, 0.34);
}

.instant_help {
  position: absolute;
  width: 173px;
  height: 203px;
  top: -38px;
  z-index: 10;
}

.search-open{
  position: absolute;
  left: 0px;
  top: 50px;
  padding: 15px;
  z-index:100;
  background: #fcfcfc;
}
.search-open .input-append {
  margin-bottom: 0px;
}
.search-open form {
  margin:0px !important;
}
.search-open form input {
  width:200px !important;
}

.search_icon {
  margin-left: 193px;
}
/*Search + instant help*/

.logo_img{
  position: absolute;
  left: 10%;
  top: 26%;
  width: 192px;
  height: 164px;
  z-index: 1001;
}


.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    color:#d8774d;
    border-bottom:solid 2px #d8774d;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:focus {
    color:#d8774d;
    text-decoration:none;
    border-bottom:solid 2px #d8774d;
    background:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}

.navbar .nav > .active > a:hover {
    color: rgba(216, 119, 77, 0.81);
    background:none;
    border-bottom:solid 2px rgba(216, 119, 77, 0.81);
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}

/*Arrow for menu*/
.navbar .nav > li > a .caret {
    margin:9px 0 0 3px !important;
    border-top-color: #d8774d!important;
    border-bottom-color: #d8774d !important;
}

.navbar .nav > li > a.search {

}
.navbar .nav > li > a.search:hover{
    color:#d8774d ;
    border-bottom-color: #d8774d;
}

.btn-u {
    background: #d8774d;
}

.navbar .btn-navbar {
    padding:10px 15px;
    margin-top:1px;
    margin-right:0;
    background: #d8774d;
    border:none !important;
}
.navbar .btn-navbar:hover {
    background: #d8774d;
}
.navbar .nav > li > .dropdown-menu:after {
    left:19px;
    border-top-color: #d8774d !important;
    border-bottom-color: #d8774d !important;
}

@media (min-width:724px) and (max-width:1200px) {
    .navbar, .navbar-inner, .nav, .navbar-inverse {
        margin-left: 0px;
    }
}
@media (min-width:600px) and (max-width:979px) {
    .instant_help {
        margin-top: -4px;
    }
    .navbar, .navbar-inner, .nav, .navbar-inverse {
        margin-left: 0px;
    }
}

@media (min-width:1283px) and (max-width:1350px) {
    .instant_help {

    }
}

@media (min-width:1683px) and (max-width:1900px) {
    .instant_help {

    }
}

@media (min-width:1850px) and (max-width:2900px) {
    .instant_help {

    }
}


@media (max-width:600px) {
    .instant_help {
        margin-top: -4px;
        right: 0%;
        width: 153px;
        /*width: 150px;*/
        /*background-color: red;*/
    }
    .instant_help_phone {
        width: 151px!important;
    }
    .instant_help_skype {
        width: 151px!important;
    }
    .navbar .btn-navbar {
        /*margin-left: -50px;*/
    }
    .navbar, .navbar-inner, .nav, .navbar-inverse {
        margin-left: 0px;
        /*margin-top: 50px!important;*/
    }
}
@media (max-width:979px) {
    .btn-u {
        margin-right: 25px;
    }
    .service_icon {
    }
}

.instant_help p {
    color: #866f5d;
    line-height: 13px;
    font-family:Verdana,Geneva,Kalimati,sans-serif;
    font-size: 11px;
    padding-left: 2px;
}

.instant_help_phone {
    position: absolute;
    top: 55px;
    width: 171px;
    height: 25px;
    background-color:rgba(216,119,77,0.8);
    border-left: 1px solid rgba(216,119,77,0.6);
    border-right: 1px solid rgba(216,119,77,0.6);
    border-top: 1px solid rgba(216,119,77,0.6);
    border-bottom: 1px solid rgba(216,119,77,0.6);
    font-size: 14px;
    color: #fff;
    text-align: center;
}
.instant_help_skype {
    position: absolute;
    top: 86px;
    width: 171px;
    height: 25px;
    background-color:rgba(216,119,77,0.8);
    border-left: 1px solid rgba(216,119,77,0.6);
    border-right: 1px solid rgba(216,119,77,0.6);
    border-top: 1px solid rgba(216,119,77,0.6);
    border-bottom: 1px solid rgba(216,119,77,0.6);
    font-size: 14px;
    color: #fff;
    text-align: center;

}

.icon-search search-btn {
    position: absolute;
}
.container {
    /*background-color: rgba(255, 0, 0, 0.47);*/
}

@media (min-width: 980px) and (max-width: 1200px) {
    .navigation {
    width: 1040px;
    }
}

.navbar {
    right:100px;
}


.da-slide_space {
    height: 10px;
    width: 10px;
}

/*@media (min-width:1200px) {*/
    /*.span4 {*/
     /*width: 300px;*/
    /*}*/
/*}*/


h3{
    line-height: 18px;
}

.thumbnails h3 a {
    text-decoration: underline;
    font-size: 14px;
    font-family:Verdana,Geneva,Kalimati,sans-serif;
    line-height: 18px!important;
}
.headline h3 {
    line-height: 40px!important;
    font-size: 24px;
    font-family:Verdana,Geneva,Kalimati,sans-serif;
}

.law_practice_title {
    height: 85px;
    /*background-color: rgba(0, 128, 0, 0.41);*/
    overflow: hidden;
}

.law_practice_description p {
    font-size: 14px;
    font-family:Verdana,Geneva,Kalimati,sans-serif;
    line-height: 18px!important;

}

.service_icon {
    float: left;
    width: 20%;
}

.service .desc {
    min-width: 80%;
}

.desc_header {
    height: 90px;
    overflow: hidden;
}

.headline h3,
.headline h4 {
    color: #565555;
}

.service .desc h4 {
    font-size: 22px;
    font-family:Verdana,Geneva,Kalimati,sans-serif;

}

.feedback {
    position: absolute;
    right: 0;
    top: 23px;
    /*bottom: 50%;*/
    /*z-index: 700;*/
}

.feedback_container {
    position: relative;
    /*background-color: rgba(255, 0, 0, 0.35);*/
    /*border: solid 5px black;*/
}

.feedback a {
    font-size: 14px;
    font-family:Verdana,Geneva,Kalimati,sans-serif;
    text-decoration: underline;
}
.feedback a:hover {
    font-size: 14px;
    font-family:Verdana,Geneva,Kalimati,sans-serif;
    text-decoration: none;
}

.feedback a img {
    margin-bottom: 7px;
    padding-left: 10px;

}

.hero-unify p {
    font-size: 12px;
    font-family:Verdana,Geneva,Kalimati,sans-serif;
    color: #555;

}

small {
    font-size: 12px;
    font-family:Verdana,Geneva,Kalimati,sans-serif;
}

.footer {
    background-color: #fff;
}

.copyright {
    background-color: #ffffff;
    border-top: none;
}

.copyright p {
    font-size: 12px;
    font-family:Verdana,Geneva,Kalimati,sans-serif;
    color: #555;
}

